name: Python Playwright CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pytest playwright python-dotenv
          
      - name: Install browsers
        run: playwright install chromium

      - name: Run tests
        env:
          BASE_URL: ${{ secrets.BASE_URL }}
        run: xvfb-run pytest -v
